[[bin]]
name = 'xplr'

[[bench]]
name = 'criterion'
harness = false
path = './benches/criterion.rs'

[package]
name = 'xplr'
version = '0.20.2'
authors = ['Arijit Basu <hi@arijitbasu.in>']
edition = '2021'
description = 'A hackable, minimal, fast TUI file explorer'
license = 'MIT'
readme = 'README.md'
repository = 'https://github.com/sayanarijit/xplr'
homepage = 'https://xplr.dev'
documentation = 'https://xplr.dev/en'
keywords = ['terminal', 'file', 'explorer', 'manager', 'tui']
categories = ['command-line-interface', 'command-line-utilities']
include = ['src/**/*', 'docs/en/src/**/*', 'LICENSE', 'README.md']

[dependencies]
libc = "0.2.140"
humansize = "2.1.3"
natord = "1.0.9"
anyhow = "1.0.70"
serde_yaml = "0.9.19"
crossterm = "0.26.1"
dirs = "5.0.0"
ansi-to-tui-forked = "3.0.0-ratatui"
regex = "1.7.1"
gethostname = "0.4.1"
serde_json = "1.0.94"
path-absolutize = "3.0.14"
which = "4.4.0"
nu-ansi-term = "0.47.0" 
textwrap = "0.16"
snailquote = "0.3.1"
skim = "0.10.4"
time = { version = "0.3.20", features = ["serde", "local-offset", "formatting", "macros"] }

[dependencies.lscolors]
version = "0.13.0"
default-features = false
features = ["nu-ansi-term"]

[dependencies.lazy_static]
version = "1.4.0"
default-features = false

[dependencies.mime_guess]
version = "2.0.4"
features = ["rev-mappings"]

[dependencies.tui]
version = "0.20.0"
default-features = false
features = ['crossterm', 'serde']
package = 'ratatui'

[dependencies.serde]
version = "1.0.157"
features = ['derive']

[dependencies.indexmap]
version = "1.9.2"
features = ['serde']

[dependencies.mlua]
version = "0.8.8"
features = ['luajit', 'vendored', 'serialize', 'send']

[dependencies.tui-input]
version = "0.6.1"
features = ['serde']

[dev-dependencies]
criterion = "0.4.0"
assert_cmd = "2.0.10"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'

[features]
