[[bin]]
name = 'xplr'

[[bench]]
name = 'criterion'
harness = false
path = './benches/criterion.rs'

[package]
name = 'xplr'
version = '0.19.2'
authors = ['Arijit Basu <hi@arijitbasu.in>']
edition = '2021'
description = 'A hackable, minimal, fast TUI file explorer'
license = 'MIT'
readme = 'README.md'
repository = 'https://github.com/sayanarijit/xplr'
homepage = 'https://xplr.dev'
documentation = 'https://xplr.dev/en'
keywords = ['terminal', 'file', 'explorer', 'manager', 'tui']
categories = ['command-line-interface', 'command-line-utilities']
include = ['src/**/*', 'docs/en/src/**/*', 'LICENSE', 'README.md']

[dependencies]
libc = "0.2.132"
humansize = "1.1.1"
natord = "1.0.9"
anyhow = "1.0.64"

# Let's keep this locked. See https://docs.rs/serde_yaml/0.9.11/serde_yaml/
serde_yaml = "0.8.26"

crossterm = "0.25.0"
dirs = "4.0.0"
ansi-to-tui = "1.0.1"
regex = "1.6.0"
gethostname = "0.2.3"

[dependencies.lazy_static]
version = "1.4.0"
default-features = false

[dependencies.mime_guess]
version = "2.0.4"
features = ["rev-mappings"]

[dependencies.tui]
version = "0.18.0"
default-features = false
features = ['crossterm', 'serde']

[dependencies.serde]
version = "1.0.144"
features = ['derive']

[dependencies.chrono]
version = "0.4.22"
features = ['serde']

[dependencies.indexmap]
version = "1.9.1"
features = ['serde']

[dependencies.mlua]
version = "0.8.3"
features = ['luajit', 'vendored', 'serialize', 'send']

[dependencies.tui-input]
version = "0.5.1"
features = ['serde']

[dev-dependencies]
criterion = "0.3.6"
assert_cmd = "2.0.4"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'

[features]
