[[bin]]
name = 'xplr'

[[bench]]
name = 'criterion'
harness = false
path = './benches/criterion.rs'

[package]
name = 'xplr'
version = '0.20.2'
authors = ['Arijit Basu <hi@arijitbasu.in>']
edition = '2021'
description = 'A hackable, minimal, fast TUI file explorer'
license = 'MIT'
readme = 'README.md'
repository = 'https://github.com/sayanarijit/xplr'
homepage = 'https://xplr.dev'
documentation = 'https://xplr.dev/en'
keywords = ['terminal', 'file', 'explorer', 'manager', 'tui']
categories = ['command-line-interface', 'command-line-utilities']
include = ['src/**/*', 'docs/en/src/**/*', 'LICENSE', 'README.md']

[dependencies]
libc = "0.2.139"
humansize = "2.1.3"
natord = "1.0.9"
anyhow = "1.0.68"
serde_yaml = "0.9.16"
crossterm = "0.25.0"
dirs = "4.0.0"
ansi-to-tui = "2.0.0"
regex = "1.7.1"
gethostname = "0.4.1"
fuzzy-matcher = "0.3.7"
serde_json = "1.0.91"
path-absolutize = "3.0.14"
which = "4.3.0"
pathdiff = "0.2.1"

[dependencies.lazy_static]
version = "1.4.0"
default-features = false

[dependencies.mime_guess]
version = "2.0.4"
features = ["rev-mappings"]

[dependencies.tui]
version = "0.19.0"
default-features = false
features = ['crossterm', 'serde']

[dependencies.serde]
version = "1.0.152"
features = ['derive']

[dependencies.chrono]
version = "0.4.23"
features = ['serde']

[dependencies.indexmap]
version = "1.9.2"
features = ['serde']

[dependencies.mlua]
version = "0.8.7"
features = ['luajit', 'vendored', 'serialize', 'send']

[dependencies.tui-input]
version = "0.6.1"
features = ['serde']

[dev-dependencies]
criterion = "0.4.0"
assert_cmd = "2.0.8"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'

[features]
